@font-face {
  font-family: "harryFont";
  src: url(/cleaningData/harryP.TTF);
}

body {
  background-image: url(/cleaningData/pexels-cottonbro-9694209.png);
  color: white;
}

h1 {
  font-family: "harryFont";
  font-size: 5rem;
  text-align: center;
}

th,
td {
  border: solid 1px white;
  padding: 1rem 2rem;
}

.popUp {
  position: absolute;
  top: 20vw;
  left: 20vw;
  background-color: wheat;
  width: 20vw;
  height: 20vw;
  padding: 3vw 5vw;
  color: black;
}

.hide {
  display: none;
  visibility: hidden;
}

.visible {
  display: block;
}

td[data-field="perfect"]::after {
  content: "🏅";
}

td[data-field="perfect"][data-perfect="false"]::after {
  filter: grayscale(1);
}


.window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.753);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  box-shadow: 1px 1px 10px grey;
  border-radius: 0.2rem;
  padding: 2rem;
  background-color: wheat;
  position: relative;
  color: black;
}

.closebutton, .cancelbutton {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  border: none;
  background: none;
}

.textDesc {
  border-radius: 0.2rem;
  width: 30vw;
  height: auto;
  padding: 3rem 3rem;
  background-color: rgb(245, 238, 179);

  position: relative;
  color: black;
}

.house-colors {
  padding: 3rem;  
  background-image: url(/img/gryff-bg.png);
  border-radius: 0.2rem;
  box-shadow: 1px 1px 10px grey;
  margin: 2rem;
}

.crest, .medal{
max-height: 7vw;
}


.info-header {
  display: grid;
  grid-template-columns: 30% 70%;
  justify-content: center;
  align-content: center;
  gap: 2rem;
}

.st-picture {
  min-width: 100%
}
.badges{
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.alreadyExpelled{
  background-color: aqua;
  color: black;
  width: 46vw;
  padding: 3vw;
  position: absolute;
  top: 40vh;
  left: 24vw;
}



  /* colors: 
  GRYFF: gold #FCCE0B, red #FF2400 
  HUFF: grey #33333 and yellow #FCCE0B
  RAV: blue: #333A94 , bronze: 
  SLY: green ##009B77, silver #
}
