@font-face {
  font-family: "harryFont";
  src: url(/cleaningData/harryP.TTF);
}

body {
  background-color: rgb(238, 237, 237);
  color: black;
  font-family: "Inter", sans-serif;
  position: relative;
}

#index {
  background-color: grey;
}

.candles {
  background-image: url(/img/candles-bg@100.png);
  background-repeat: no-repeat;
  background-position-x: left;
  height: 15rem;
  width: 100%;
  position: absolute;
  z-index: -1;
  margin-left: -1rem;
  animation: flying 15s infinite ease-in-out;
}

@keyframes flying {
  0%,
  100% {
    transform: translateY(0vw);
  }

  50% {
    transform: translateY(1vw);
  }
}

header {
  display: flex;
  justify-content: left;
  gap: 2rem;
  align-items: center;
  padding: 0 2rem;
  margin-bottom: 2rem;
  background-color: rgb(105, 4, 4);
}
header img {
  height: 6vw;
}

h1 {
  font-family: "harryFont";
  font-size: 3rem;
  text-align: center;
  color: #fcce0b;
}

thead {
  background-color: rgb(105, 4, 4);
}

th {
  color: white;
}

td,
th {
  padding: 0.5rem 0.5rem;
  margin: 0.3rem;
  border-bottom: 1px solid rgb(197, 194, 194);
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

#sorting:hover {
  background-color: rgb(105, 4, 4);
}

main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 2rem;
}
.filters {
  display: flex;
  flex-direction: column;
  grid-row: 2/ 4;
  background-color: rgb(105, 4, 4);
  color: #fcce0b;
}

.filters button {
  background: none;
  border: none;
  padding: 0.75rem;
  border-bottom: solid 1px white;
  color: #fcce0b;
}

.filters button:hover {
  background-color: greenyellow;
}

#summary {
  grid-column: 2/-1;
}

.popUp {
  position: absolute;

  top: 20vw;
  left: 20vw;
  background-color: wheat;
  width: 60vw;
  height: 20vw;
  padding: 3vw 5vw;
  color: black;
}

.hide {
  display: none;
  visibility: hidden;
}

.visible {
  display: block;
}

td[data-field="prefect"] img {
  width: 3rem;
}

td[data-field="prefect"][data-prefect="false"] img {
  filter: grayscale(1);
}

td[data-field="view-more"] p {
  background-color: #fcce0b;
  padding: 0.3rem;
  text-align: center;
  border-radius: 0.3rem;
  margin: 0;
  color: rgb(105, 4, 4);
  cursor: pointer;
}

.window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.753);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  box-shadow: 1px 1px 10px grey;
  border-radius: 0.2rem;
  padding: 2rem;
  background-color: wheat;
  position: relative;
  color: black;
}

.closebutton,
.cancelbutton {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  border: none;
  background: none;
}

.textDesc {
  border-radius: 0.2rem;
  height: auto;
  padding: 3rem 3rem;
  background-color: rgb(245, 238, 179);
  position: relative;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 60vw;
}

#expellSt {
  background-color: rgb(7, 57, 97);
  border: none;
  padding: 0.5rem;
  color: #ddd;
  grid-column: 1/-1;
  margin: 0 2rem;
}

.house-colors {
  padding: 3rem;
  background-image: url(/img/gryff-bg.png);
  background-size: cover;
  border-radius: 0.2rem;
  box-shadow: 1px 1px 10px grey;
  margin: 2rem;
}

.info-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  gap: 2rem;
}

.st-picture {
  min-width: 100%;
}
.badges {
  display: flex;
  grid-column: 1/-1;
  justify-content: space-between;
}

.badges p {
  margin: 0;
  text-align: center;
}

.badges img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 7vw;
  margin-top: 0.5rem;
}

.alreadyExpelled,
.sureExpelled,
.inqappointed,
.inqrejected {
  background-color: rgb(7, 57, 97);
  color: white;
  width: 46vw;
  padding: 3vw;
  position: absolute;
  top: 40vh;
  left: 24vw;
}

.hpCrest {
  width: 20vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  font-size: 2rem;

  padding: 1rem;
  color: #fcce0b;
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}
a:hover {
  text-shadow: 0px 0px 6px white;
}

.appoint {
  text-decoration: underline;
  margin-top: 1rem;
  cursor: pointer;
}

/* colors: 
  GRYFF: gold #FCCE0B, red #FF2400 
  HUFF: grey #33333 and yellow #FCCE0B
  RAV: blue: #333A94 , bronze: 
  SLY: green ##009B77, silver #
}
 */

.fade {
  animation: fade 0.3s ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
